@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  /* font-family: 'Poppins', sans-serif; */
}

body {
  background-color: #0f151f !important;
}
